src/internal_representation_analysis/*.pyc
src/internal_representation_analysis/utils/*.pyc
src/internal_representation_analysis/checkpoints*/*
src/internal_representation_analysis/logs/*
src/internal_representation_analysis/data/*.h5
src/internal_representation_analysis/data/*.hdf5
src/internal_representation_analysis/data/*.json
src/internal_representation_analysis/data/*.txt
src/internal_representation_analysis/data/decoder/*.txt
src/internal_representation_analysis/data/*.tfrecords
.DS_Store
.idea/
src/internal_representation_analysis/.idea/

src/internal_representation_analysis/decoder/checkpoints/*
src/internal_representation_analysis/decoder/logs/*
src/internal_representation_analysis/decoder/data/*

src/target_driven_method/data/*
src/target_driven_method/logs/*
src/target_driven_method/checkpoints/*

__pycache__/
